:root {
}

.header {
    -unity-font-definition: url("project://database/Assets/UI%20Toolkit/UnityThemes/StoryScript-Regular.ttf?fileID=12800000&guid=c004b1e2fc5ea3f4e936161f4ce0df89&type=3#StoryScript-Regular");
    -unity-font-style: normal;
    font-size: 50px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    -unity-text-align: upper-center;
    align-self: center;
}
