:root {
}

.header {
    font-size: 30px;
    color: rgb(255, 255, 255);
    -unity-font-style: bold;
}

.gauge-root {
    width: 300px;
    height: 36px;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.gauge-background {
    flex-grow: 1;
    height: 16px;
    background-color: rgb(46, 46, 46);
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.gauge-fill {
    width: 0%;
    height: 100%;
    transition: width 0.1s;
}

.gauge-label {
    width: 48px;
    text-align: right;
    color: white;
    unity-font-style: bold;
    font-size: 12px;
}

.cursor {
    width: 32px;
    height: 32px;
    position: absolute;
    z-index: 9999;
    pointer-events: none;
}

.rescue-label {
    font-size: 50px;
    unity-font-style: bold;
    color: yellow;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    display: none;
    -unity-font-style: normal;
}

.direction-arrow {
    width: 40px;
    height: 40px;
    background-image: url("project://database/Assets/Content/Sprites/right-arrow.png?fileID=2800000&guid=a722efb52930fd84dbd0687896933010&type=3#right-arrow");
    background-size: cover;
    display: none;
    transform-origin: center center;
}

.rescue-timer {
    width: 200px;
    margin-top: 10px;
    display: none;
}

.slider-label {
}
